@model IEnumerable<MVCProject.Models.OrdersDetail>

@{
    ViewBag.Title = "Chi tiết đơn hàng";
    Layout = "~/Views/Shared/_Layout.Frontend.cshtml";
}

<h2>Chi tiết đơn hàng</h2>

@using (Html.BeginForm("Index", "OrderDetail"))
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDProduct)
            </th>
            <th width="15%">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th width="15%">
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th width="15%">
                @Html.DisplayNameFor(model => model.DateOfOrder)
            </th>
            <th width="15%">
                @Html.DisplayNameFor(model => model.Tax)
            </th>
            <th width="15%">
                @Html.DisplayNameFor(model => model.Total)
            </th>
        </tr>
    @if (Model != null && Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td align="right">
                    @item.Price.ToString("#,###.00")
                </td>
                <td align="center">
                    <input type="text" value="@item.Amount" name="quan_@item.IDProduct" id="quan_@item.IDProduct"
                            class="quantity-box" />
                </td>
                <td>
                    @DateTime.Now.ToString("dd/MM/yyyy")
                </td>
                <td align="right">
                    @Html.DisplayFor(modelItem => item.Tax)%
                </td>
                <td align="right">
                    @item.Total.ToString("#,###.00")
                </td>
            </tr>
        }

        <tr>
            <td><input type="submit" value="Lưu Lại" class="btn btn-default" /></td>
            <td colspan="4" align="right">Tổng cộng: </td>
            <td align="right">@ViewData["Total"]</td>
        </tr>
    }
</table>

}