@model IEnumerable<MVCProject.Models.Promotion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Khuyến mãi</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create") ::::  @Html.ActionLink("Hình thức khuyến mãi", "Index", "PromotionType") |
    <a href="../ProductCode/Create/?code=KM">Cấu hình mã sản phẩm</a>
</p>
<table class="table">
    <tr>
        <th>
            Sản phẩm áp dụng
        </th>
        <th>
            Tiêu đề
        </th>
        <th>
            Kích hoạt
        </th>
        <th>
            Mã
        </th>
        <th>
            Ngày áp dụng
        </th>
        <th>
           Ngày hết hạn
        </th>
        <th>
           Ngày tạo
        </th>
        <th>
            Giá trị
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (((List<MVCProject.Models.Product>)ViewData["ProductList"]).Count > 0)
            {
                MVCProject.Models.Product i = ((List<MVCProject.Models.Product>)ViewData["ProductList"]).Single(s => s.ID == item.ProductID);
                if (i != null)
                {
                    @Html.Raw(i.ProductName);
                }
            }
            </td>
        <td>
            @Html.ActionLink(item.Title, "Edit", new { id = item.ID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PromotionCode)
        </td>
        <td>
            @DateTime.Parse(item.StartDate.ToString()).ToString("dd/MM/yyyy")
        </td>
        <td>
            @DateTime.Parse(item.EndDate.ToString()).ToString("dd/MM/yyyy")
        </td>
        <td>
            @DateTime.Parse(item.Created.ToString()).ToString("dd/MM/yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PromotionValue)
        </td>
       
    </tr>
}

</table>
