@model IEnumerable<MVCProject.Models.Promotion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create") ::::  @Html.ActionLink("Hình thức khuyến mãi", "Index", "PromotionType")
</p>
<table class="table">
    <tr>
        <th>
            Tiêu đề
        </th>
        <th>
            Kích hoạt
        </th>
        <th>
            Mã
        </th>
        <th>
            Ngày áp dụng
        </th>
        <th>
           Ngày hết hạn
        </th>
        <th>
           Ngày tạo
        </th>
        <th>
           Hình thức khuyến mãi
        </th>
        <th>
            Giá trị
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.ActionLink(item.Title, "Edit", new { id = item.ID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PromotionCode)
        </td>
        <td>
            @DateTime.Parse(item.StartDate.ToString()).ToString("dd/MM/yyyy")
        </td>
        <td>
            @DateTime.Parse(item.EndDate.ToString()).ToString("dd/MM/yyyy")
        </td>
        <td>
            @DateTime.Parse(item.Created.ToString()).ToString("dd/MM/yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PromotionTypeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PromotionValue)
        </td>
       
    </tr>
}

</table>
