@model MVCProject.Models.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <span class="control-label col-md-2">Tên sản phẩm:</span>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ProductName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProductName)
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">Mã sản phẩm:</span>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ItemCode, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ItemCode)
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">Barcode</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Barcode)
                @Html.TextBoxFor(model => model.Barcode, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Barcode)
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">SKU</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.SKU)
                @Html.TextBoxFor(model => model.SKU, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SKU)
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">Danh mục</span>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.CatID, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CatID)
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">Nhà phân phối:</span>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.SupplierID, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SupplierID)
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">Liên kết:</span>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ImageLink, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ImageLink)
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">Adwords:</span>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Adwords, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Adwords)
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">Hiển thị:</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Show)
                @Html.ValidationMessageFor(model => model.Show)
            </div>
        </div>
        
        <div class="form-group">
            <span class="control-label col-md-2">Màu sắc:</span>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Color, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Color)
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">Kích thước:</span>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Dimension, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Dimension)
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">ĐVT:</span>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Unit, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Unit)
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">Thời gian bảo hành:</span>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Warranty, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Warranty)
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">Đã xóa:</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsDel)
                @Html.ValidationMessageFor(model => model.IsDel)
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">Tình trạng:</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsState)
                @Html.ValidationMessageFor(model => model.IsState)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu Lại" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
