@model IEnumerable<MVCProject.Models.Product>
@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Views/Shared/_Layout.Frontend.cshtml";
    List<MVCProject.Models.ProductImage> imgList = (List<MVCProject.Models.ProductImage>)ViewData["ImageList"];
    
    string cid = Request.QueryString["CatID"] == null ? "0" : Request.QueryString["CatID"];
    string name = Request.QueryString["Name"];
    List<MVCProject.Models.Catalog> listCat = (List<MVCProject.Models.Catalog>)ViewData["CatList"];
}

@using (Html.BeginForm("Home", "Product", FormMethod.Get, new { id = "productViewForm" }))
{
<h2>Sản phẩm</h2>
<table class="table">
    <tr>
        <td align="right" width="10%">
            Danh mục:
        </td>
        <td align="left" width="25%">
            <select class="form-control" name="CatID" id="CatID" onchange="filterFromSubmit()">
                <option>Chọn danh mục</option>
                @foreach (var i in listCat)
                {
                    <option value="@i.ID" @if (i.ID.ToString() == cid) { @Html.Raw("selected='selected'")  }>
                        @i.Title
                        </option>
                }
            </select>

        </td>
        <td align="right" width="10%">
            Sản phẩm:
        </td>
        <td align="left" width="25%">
            <input class="form-control" type="text" name="Name" id="Name" value="@name" />
        </td>
        <td>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" onclick="filterFromSubmit()" class="btn btn-default" value="Tìm Kiếm" />
                    @if(ViewData["CartCount"] != "0"){
                        <input type="button" onclick="GoToCart();" class="btn btn-default" value="(@ViewData["CartCount"]) Xem hóa đơn" />
                    }
                </div>
            </div>
        </td>
    </tr>
</table>
<script>
    function GoToCart() {
        window.location = '../OrderDetail/Index';
    }
    function filterFromSubmit() {
        //var e = document.getElementById("CatID");
        //var cid = e.options[e.selectedIndex].value;
        //window.location = '../Product/Home?CatID=' + cid + '&Name=' + document.getElementById("Name").value;
        productViewForm.submit();
    }

    function AddToCart(code) {
        var val = document.getElementById("Cart").value;
        if(val.indexOf(code) == -1)
        {
            if(val != '') val += ',';
            val += code;
            document.getElementById("Cart").value = val;
            alert("Thêm đơn hàng thành công!");
            productViewForm.submit();
        }
        else
            alert("Sản phẩm đã được chọn!");
    }


</script>

<table class="table">
    <tr>
        <th>
        </th>
        <th>
            Tên mặt hàng
        </th>
        <th>
            Mã hàng
        </th>
        <th>
            ĐVT
        </th>
        <th>
            Bảo hành
        </th>
        <th width="12%">
            Thêm đơn hàng
        </th>
    </tr>
    @if (Model.Count() > 0) 
    { 
        foreach (var item in Model) {
            <tr>
                <td>
                    @if(imgList.Count() > 0) {
                        string img = "";
                
                        try
                        {
                            MVCProject.Models.ProductImage i = imgList.First(c => c.ProductCode == item.ItemCode);
                    
                            if (i != null && i.Image != null && i.Image != "")
                            {
                                if (i.ImageLink != null && i.ImageLink != "")
                                {
                                    img += "<a href='" + i.ImageLink + "' alt='" + item.ProductName + "'/>";
                                }

                                img += "<img class='product-intro' src='../Images/Intro/" + i.Image + "' title='" + item.ProductName + "'/>";

                                if (i.ImageLink != null && i.ImageLink != "")
                                {
                                    img += "</a>";
                                }
                            }
                        }
                        catch
                        {
                            img = "<img class='product-intro' src='../Images/Intro/no-image.png' alt='" + item.ProductName + "'/>";
                        }
                    
                        @Html.Raw(img);
                    }
                    </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Warranty)
                </td>
                <td align="center">
                    <a href="#" onclick="AddToCart('@item.ItemCode');">
                        <img class='add-button-disable' src='../Images/Control/add-image.png' alt='@item.ProductName' />
                    </a>
                </td>
            </tr>
        }
    }
    </table>
    <span style="float:right;">Sản phẩm đã chọn: (@ViewData["CartCount"]) &gt;&gt; <a href="../OrderDetail/Index"> Xem hóa đơn</a></span> 
    
    <input type="hidden" name="Cart" id="Cart" value="@ViewData["Cart"].ToString()" />
    <input type="hidden" name="Page" id="Page" value="@ViewData["Page"].ToString()" /> 
}

