@model IEnumerable<MVCProject.Models.Product>

@{
    ViewBag.Title = "Danh sách";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sản phẩm</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create") :::: <a href="../ProductCode/Create/?code=SP">Cấu hình mã sản phẩm</a>
    | @Html.ActionLink("Giá sản phẩm", "Index", "ProductPrice")
</p>
<table class="table">
    <tr>
        <th>
            Tên sản phẩm
        </th>
        <th>
            Mã sản phẩm
        </th>
        <th>
            Mã danh mục
        </th>
        <th>
            SKU
        </th>
        <th>
            Nhà cung cấp
        </th>
        <th>
            Hiện/Ẩn
        </th>
        <th>
            Ngày tạo
        </th>
        <th>
            ĐVT
        </th>
        <th>
           BH
        </th>
        <th>
           Đã xóa
        </th>
        <th>
            #
            </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.ProductName, "Edit", new { id = item.ID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CatID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SKU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupplierID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Show)
        </td>
        <td>
            @if (item.DateCreate != null)
            {
                DateTime.Parse(item.DateCreate.ToString()).ToString("dd/MM/yyyy");
            }
            &nbsp;
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Warranty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDel)
        </td>
        <td>
            @Html.ActionLink("Thêm giá", "Create/" + item.ID, "ProductPrice") | 
            @Html.ActionLink("Khuyến mãi", "Create/" + item.ID, "Promotion")
        </td>
    </tr>
}

</table>
